/* Webfont: BerlianaLovely-Regular */@font-face {
    font-family: 'BerlianaLovely';
    src: url('Berliana Lovely.eot'); /* IE9 Compat Modes */
    src: url('Berliana Lovely.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Berliana Lovely.woff') format('woff'), /* Modern Browsers */
         url('Berliana Lovely.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

